body {
	margin: auto;
	width: 95%;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:hover.pure-button {
	text-decoration: none;
}

header {
	text-align: center;
	margin-bottom: 1em;
}
h1 {
	color: #4b4b4b;
	font-size: 1.5em;
	margin: 0.2em 0 1em;
}
footer {
	margin-top: 1em;
}


#logo img {
	height: auto;
	width: 100%;
	max-width: 300px;
}
#userPanel {
	text-align: center;
}
#pointagesFilter ul {
	padding-left: 20px;
}
#pointageSaver {
	margin: auto;
	max-width: 400px;
	text-align: center;
}
#pointageSaver .pure-button {
	margin: 0.5em 0;
	width: 100%;
}

.center {
	text-align: center;
}

.slimForm {
	border-radius: 8px;
	max-width: 300px;
	margin: auto;
}
.pure-form label, .slimForm input[type="submit"], .slimForm .pure-button {
	margin: 1em 0 .3em;
}
.label-error {
	color: red;
	font-size: 80%;
}
.label-error p {
	margin: 0;
}
.message {
	border: 1px solid;
	border-width: 1px 1px 1px 3px;
	margin: 1em 0;
	padding: 0 0.5em;
}
.message p {
	margin: 0.6em 0 0.5em;
}
.message .title {
	font-size: 110%;
	font-weight: bold;
	margin: 0.5em 0;
}
.message.error {
	background-color: #ffe5e5;
	border-color: red;
}
.message.warning {
	background-color: #ffedcc;
	border-color: orange;
}
.message.info {
	background-color: #e5eeff;
	border-color: blue;
}
.message.success {
	background-color: #e5f2e5;
	border-color: green;
}
.tiny p {
	margin: 0;
}
.tiny {
	font-size: 80%;
}

/**************/
/* RESPONSIVE */
/**************/

/* pure-u-sm */
@media screen and (min-width: 35.5em) {
	body {
		width: 80%;
		max-width: 960px;
	}
	#pointageSaver .pure-button {
		margin: 0.5em auto;
		width: 90%;
	}
}

/* pure-u-md */
@media screen and (min-width: 48em) {
	html {
		font-size: 14pt;
	}
}

/* pure-u-lg */
@media screen and (min-width: 64em) {
}

/* pure-u-xl */
@media screen and (min-width: 80em) {
}

/****************************/
/* OVERRIDES/ADDITIONS PURE */
/****************************/

.small {
	font-size: 85%;
}

.xsmall {
	font-size: 75%;
}