body {
	margin: auto;
	width: 95%;
}

#logo img {
	height: auto;
	width: 100%;
	max-width: 300px;
}
#userPanel {
	background-color: #f0f0f0;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	padding: 0.5em;
	text-align: center;
}

header {
	text-align: center;
}
h1 {
	color: #4b4b4b;
	font-size: 1.5em;
	margin: 0.2em 0 1em;
}
footer {
	margin-top: 1em;
}

.center {
	text-align: center;
}

.slimForm {
	border-radius: 8px;
	max-width: 300px;
	margin: auto;
}
.pure-form label, .slimForm input[type="submit"], .slimForm .pure-button {
	margin: 1em 0 .4em;
}
.label-error {
	color: red;
}
.message {
	border: 1px solid;
	border-width: 1px 1px 1px 3px;
}
.message.info {
	border-color: blue;
}
.message.success {
	border-color: green;
}


/**************/
/* RESPONSIVE */
/**************/

/* pure-u-sm */
@media screen and (min-width: 35.5em) {
	body {
		width: 80%;
		max-width: 960px;
	}
}

/* pure-u-md */
@media screen and (min-width: 48em) {
	html {
		font-size: 14pt;
	}
}

/* pure-u-lg */
@media screen and (min-width: 64em) {
}

/* pure-u-xl */
@media screen and (min-width: 80em) {
}

/****************************/
/* OVERRIDES/ADDITIONS PURE */
/****************************/

.button-small {
	font-size: 85%;
}

.button-xsmall {
	font-size: 75%;
}