body {
	margin: auto;
	width: 95%;
}

#logo img {
	height: auto;
	width: 100%;
	max-width: 300px;
}

header {
	text-align: center;
}
h1 {
	color: #4b4b4b;
	font-size: 1.5em;
	margin: 0.2em 0 1em;
}

.center {
	text-align: center;
}

.slimForm {
	border-radius: 8px;
	max-width: 300px;
	margin: auto;
}
.pure-form label, .slimForm input[type="submit"], .slimForm .pure-button {
	margin: 1em 0 .4em;
}
.label-error {
	color: red;
}


/**************/
/* RESPONSIVE */
/**************/

/* pure-u-sm */
@media screen and (min-width: 35.5em) {
	body {
		width: 80%;
		max-width: 960px;
	}
}

/* pure-u-md */
@media screen and (min-width: 48em) {
}

/* pure-u-lg */
@media screen and (min-width: 64em) {
}

/* pure-u-xl */
@media screen and (min-width: 80em) {
}

/****************************/
/* OVERRIDES/ADDITIONS PURE */
/****************************/

.button-small {
	font-size: 85%;
}